body {
    background-color: rgb(155, 159, 160);
  }
  
  h1 {
    color: rgb(110, 19, 110);
    text-align: left;
  }
  
  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
  }